NEXT_PUBLIC_SUPABASE_URL=https://dqwnhwvpcdxnbduuplzz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxd25od3ZwY2R4bmJkdXVwbHp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNjg0NzksImV4cCI6MjA5Mzg0NDQ3OX0.aRgu9j7llAi5GTzvWfbqVzKQeOeV36vDFK0diruFJx0
NEXT_PUBLIC_WHATSAPP_NUMBER=94779628857
NEXT_PUBLIC_STORE_NAME=ELARA
